<ion-header>
  <ion-toolbar>
    <ion-title>listaProductos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let p of lista">
    <form [formGroup]="productito" (ngSubmit)="modificar()">
    <ion-item>
      <ion-input type="number" formControlName="identificadorcito" >{{p.identificador}} - Identificador: {{p.identificador}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text"fromControlName="nombrecito">{{p.nombre}} - Nombre: </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" formControlName="precito">{{p.precio}} - Precio: </ion-input>
    </ion-item>

    <ion-button (click)="eliminar(p.identificador)">Eliminar</ion-button>
    <ion-button type="submit">Modificar</ion-button>
  </form>
  </ion-list>
</ion-content>
